In [5]:
import pandas as pd

# Lire un fichier Parquet
df = pd.read_parquet("/Users/guillaumeramirez/OneDrive - CentraleSupelec/Smart ETL - DOR/data/parquet/LogETL_20250130.csv_sub_2501301744.parquet")

# Afficher les premières lignes
df.head()

,Server version,Client version,Model,Type,Insert mode,Rows added,Rows updated,Rows deleted,Rows in error,Rows in warning,...,Product,Result,,ETL_StartDateTime,Launcher_Name,Program_Id,Program_Name,Schedules_Id,Schedules_Name,Schedules_StartDateTime
0,6.0.0,6.0.0,TMS/MF_TrajetsNew,Modèle simple,Mise à jour données / Insertion données,36861,0,36642,None,None,...,MyReport Server BE,OK,None,14/03/2024 16:08,Launcher_Name_sub_5,ETL_b75838e4-8850-4d9a-ba25-4d541f4b237f,ETL Opti TMS 1h,ETLPROGRAMMATIONBG7G6W,ETL Opti TMS toutes les 1h Lun-Sam,14/03/2024 15:41
1,6.0.0,6.0.0,TMS/MF_FactureFournisseursSansDetails,Modèle simple,Mise à jour données / Insertion données,118,0,44,None,None,...,MyReport Server BE,OK,None,14/03/2024 16:20,Launcher_Name_sub_5,ETL_9fdd54e0-2573-4307-af52-efe1c4c6a0c0,ETL Opti TMS Jour,ETLPROGRAMMATIONLFMOU5,ETL Opti TMS-Compta 13h-16h Lun-Sam,14/03/2024 16:01
2,6.0.0,6.0.0,TMS/MF_FacturesSansDetails,Modèle simple,Mise à jour données / Insertion données,369,0,17,None,None,...,MyReport Server BE,OK,None,14/03/2024 16:20,Launcher_Name_sub_5,ETL_9fdd54e0-2573-4307-af52-efe1c4c6a0c0,ETL Opti TMS Jour,ETLPROGRAMMATIONLFMOU5,ETL Opti TMS-Compta 13h-16h Lun-Sam,14/03/2024 16:01
3,6.0.0,6.0.0,TMS/MF_SAV,Modèle simple,Mise à jour données / Insertion données,277,0,191,None,None,...,MyReport Server BE,OK,None,14/03/2024 16:20,Launcher_Name_sub_5,ETL_9fdd54e0-2573-4307-af52-efe1c4c6a0c0,ETL Opti TMS Jour,ETLPROGRAMMATIONLFMOU5,ETL Opti TMS-Compta 13h-16h Lun-Sam,14/03/2024 16:01
4,6.0.0,6.0.0,TMS/MF_FactureFournisseurs,Modèle simple,Mise à jour données / Insertion données,1036,0,428,None,None,...,MyReport Server BE,OK,None,14/03/2024 16:20,Launcher_Name_sub_5,ETL_9fdd54e0-2573-4307-af52-efe1c4c6a0c0,ETL Opti TMS Jour,ETLPROGRAMMATIONLFMOU5,ETL Opti TMS-Compta 13h-16h Lun-Sam,14/03/2024 16:01

In [2]:
df.columns

Index(['Server version', 'Client version', 'Model', 'Type', 'Insert mode',
       'Rows added', 'Rows updated', 'Rows deleted', 'Rows in error',
       'Rows in warning', 'Columns', 'Date', 'Start time', 'End  time',
       'Duration', 'Machine', 'Session', 'Project name', 'Product', 'Result',
       '', 'ETL_StartDateTime', 'Launcher_Name', 'Program_Id', 'Program_Name',
       'Schedules_Id', 'Schedules_Name', 'Schedules_StartDateTime'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289980 entries, 0 to 289979
Data columns (total 28 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Server version           289980 non-null  object
 1   Client version           289980 non-null  object
 2   Model                    289980 non-null  object
 3   Type                     289980 non-null  object
 4   Insert mode              289980 non-null  object
 5   Rows added               289980 non-null  int64
 6   Rows updated             289980 non-null  int64
 7   Rows deleted             289980 non-null  int64
 8   Rows in error            0 non-null       object
 9   Rows in warning          0 non-null       object
 10  Columns                  289980 non-null  int64
 11  Date                     289980 non-null  object
 12  Start time               289980 non-null  object
 13  End  time                289980 non-null  object
 14  Duration                 289980 non-null  object
 15  Machine                  289980 non-null  object
 16  Session                  289980 non-null  object
 17  Project name             289980 non-null  object
 18  Product                  289980 non-null  object
 19  Result                   289980 non-null  object
 20                           0 non-null       object
 21  ETL_StartDateTime        289980 non-null  object
 22  Launcher_Name            289980 non-null  object
 23  Program_Id               285302 non-null  object
 24  Program_Name             289980 non-null  object
 25  Schedules_Id             284286 non-null  object
 26  Schedules_Name           284286 non-null  object
 27  Schedules_StartDateTime  289980 non-null  object
dtypes: int64(4), object(24)
memory usage: 61.9+ MB

In [4]:
df.tail(10)

,Server version,Client version,Model,Type,Insert mode,Rows added,Rows updated,Rows deleted,Rows in error,Rows in warning,...,Product,Result,,ETL_StartDateTime,Launcher_Name,Program_Id,Program_Name,Schedules_Id,Schedules_Name,Schedules_StartDateTime
289970,6.1.0.2,6.1.0.2,GLPI/Printers_Cartridge,Modèle simple,Suppression table / Création table / Insertion...,1257,0,0,None,None,...,MyReport Server BE,OK,None,30/01/2025 15:05,Launcher_Name_sub_5,ETL_e40758d2-53ad-48a5-86e9-07bc4b2c582d,ETL GLPI,ETLPROGRAMMATIONC32E9W,ETL + Messenger Quotidien Lun-Sam 15h ALDI,30/01/2025 15:00
289971,6.1.0.2,6.1.0.2,GLPI/Techniciens,Modèle simple,Suppression table / Création table / Insertion...,47,0,0,None,None,...,MyReport Server BE,OK,None,30/01/2025 15:05,Launcher_Name_sub_5,ETL_e40758d2-53ad-48a5-86e9-07bc4b2c582d,ETL GLPI,ETLPROGRAMMATIONC32E9W,ETL + Messenger Quotidien Lun-Sam 15h ALDI,30/01/2025 15:00
289972,6.1.0.2,6.1.0.2,GLPI/Users,Modèle simple,Suppression table / Création table / Insertion...,2563,0,0,None,None,...,MyReport Server BE,OK,None,30/01/2025 15:05,Launcher_Name_sub_5,ETL_e40758d2-53ad-48a5-86e9-07bc4b2c582d,ETL GLPI,ETLPROGRAMMATIONC32E9W,ETL + Messenger Quotidien Lun-Sam 15h ALDI,30/01/2025 15:00
289973,6.1.0.2,6.1.0.2,GLPI/Attribut User Tickets,Modèle simple,Suppression table / Création table / Insertion...,38881,0,0,None,None,...,MyReport Server BE,OK,None,30/01/2025 15:05,Launcher_Name_sub_5,ETL_e40758d2-53ad-48a5-86e9-07bc4b2c582d,ETL GLPI,ETLPROGRAMMATIONC32E9W,ETL + Messenger Quotidien Lun-Sam 15h ALDI,30/01/2025 15:00
289974,6.1.0.2,6.1.0.2,DW/DSI/TotalUsers,Modèle conso,Suppression table / Création table / Insertion...,2610,0,0,None,None,...,MyReport Server BE,OK,None,30/01/2025 15:05,Launcher_Name_sub_5,ETL_e40758d2-53ad-48a5-86e9-07bc4b2c582d,ETL GLPI,ETLPROGRAMMATIONC32E9W,ETL + Messenger Quotidien Lun-Sam 15h ALDI,30/01/2025 15:00
289975,6.1.0.2,6.1.0.2,Divers/A temps,Modèle texte,Suppression table / Création table / Insertion...,2191,0,0,None,None,...,MyReport Server BE,OK,None,30/01/2025 15:05,Launcher_Name_sub_5,ETL_e40758d2-53ad-48a5-86e9-07bc4b2c582d,ETL GLPI,ETLPROGRAMMATIONC32E9W,ETL + Messenger Quotidien Lun-Sam 15h ALDI,30/01/2025 15:00
289976,6.1.0.2,6.1.0.2,DW/DSI/Atributs Tickets,Modèle conso,Suppression table / Création table / Insertion...,50742,0,0,None,None,...,MyReport Server BE,OK,None,30/01/2025 15:05,Launcher_Name_sub_5,ETL_e40758d2-53ad-48a5-86e9-07bc4b2c582d,ETL GLPI,ETLPROGRAMMATIONC32E9W,ETL + Messenger Quotidien Lun-Sam 15h ALDI,30/01/2025 15:00
289977,6.1.0.2,6.1.0.2,GLPI/Printers_Logs,Modèle simple,Suppression table / Création table / Insertion...,119404,0,0,None,None,...,MyReport Server BE,OK,None,30/01/2025 15:05,Launcher_Name_sub_5,ETL_e40758d2-53ad-48a5-86e9-07bc4b2c582d,ETL GLPI,ETLPROGRAMMATIONC32E9W,ETL + Messenger Quotidien Lun-Sam 15h ALDI,30/01/2025 15:00
289978,6.1.0.2,6.1.0.2,GLPI/Logs,Modèle simple,Suppression table / Création table / Insertion...,3486,0,0,None,None,...,MyReport Server BE,OK,None,30/01/2025 15:05,Launcher_Name_sub_5,ETL_e40758d2-53ad-48a5-86e9-07bc4b2c582d,ETL GLPI,ETLPROGRAMMATIONC32E9W,ETL + Messenger Quotidien Lun-Sam 15h ALDI,30/01/2025 15:00
289979,6.1.0.2,6.1.0.2,GLPI/Tickets,Modèle simple,Suppression table / Création table / Insertion...,15688,0,0,None,None,...,MyReport Server BE,OK,None,30/01/2025 15:05,Launcher_Name_sub_5,ETL_e40758d2-53ad-48a5-86e9-07bc4b2c582d,ETL GLPI,ETLPROGRAMMATIONC32E9W,ETL + Messenger Quotidien Lun-Sam 15h ALDI,30/01/2025 15:00

In [6]:
df['Program_Id'].nunique()

51

In [7]:
df['ETL_StartDateTime']=pd.to_datetime(df['ETL_StartDateTime'])

/var/folders/f4/k8l34hms3tj0bm4tlr3mwg080000gn/T/ipykernel_76496/1772475934.py:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['ETL_StartDateTime']=pd.to_datetime(df['ETL_StartDateTime'])

In [8]:
df['ETL_StartDateTime'].head()

0   2024-03-14 16:08:00
1   2024-03-14 16:20:00
2   2024-03-14 16:20:00
3   2024-03-14 16:20:00
4   2024-03-14 16:20:00
Name: ETL_StartDateTime, dtype: datetime64[ns]

In [9]:
start_date = "2024-08-24 23:32:03"
end_date = "2024-10-15 23:31:49"

In [11]:
df_reduced = df[(df["ETL_StartDateTime"] >= start_date) & (df["ETL_StartDateTime"] <= end_date)]

In [12]:
df_reduced.head()

,Server version,Client version,Model,Type,Insert mode,Rows added,Rows updated,Rows deleted,Rows in error,Rows in warning,...,Product,Result,,ETL_StartDateTime,Launcher_Name,Program_Id,Program_Name,Schedules_Id,Schedules_Name,Schedules_StartDateTime
122840,6.0.2,6.0.2,Excel MyReport/Anomalies MyParc/V2/Anomalies P...,Modèle Excel,Insertion données,33,0,0,None,None,...,MyReport Server BE,OK,None,2024-08-25 04:18:00,Launcher_Name_sub_5,ETL_2bb27eb6-46ea-4208-9a6c-3074528a9285,ETL Anomalies V1-V2 MyParc Center,ETLPROGRAMMATIONWCLOA6,ETL + Messenger Quotidien Lun-Dim vers Serveur...,25/08/2024 04:16
122841,6.0.2,6.0.2,Excel MyReport/Anomalies MyParc/V1/Anomalies V...,Modèle Excel,Insertion données,9,0,0,None,None,...,MyReport Server BE,OK,None,2024-08-25 04:18:00,Launcher_Name_sub_5,ETL_2bb27eb6-46ea-4208-9a6c-3074528a9285,ETL Anomalies V1-V2 MyParc Center,ETLPROGRAMMATIONWCLOA6,ETL + Messenger Quotidien Lun-Dim vers Serveur...,25/08/2024 04:16
122842,6.0.2,6.0.2,Excel MyReport/Anomalies MyParc/V2/Anomalies M...,Modèle Excel,Insertion données,15,0,0,None,None,...,MyReport Server BE,OK,None,2024-08-25 04:18:00,Launcher_Name_sub_5,ETL_2bb27eb6-46ea-4208-9a6c-3074528a9285,ETL Anomalies V1-V2 MyParc Center,ETLPROGRAMMATIONWCLOA6,ETL + Messenger Quotidien Lun-Dim vers Serveur...,25/08/2024 04:16
122843,6.0.2,6.0.2,Excel MyReport/Anomalies MyParc/V1/Anomalies P...,Modèle Excel,Insertion données,19,0,0,None,None,...,MyReport Server BE,OK,None,2024-08-25 04:18:00,Launcher_Name_sub_5,ETL_2bb27eb6-46ea-4208-9a6c-3074528a9285,ETL Anomalies V1-V2 MyParc Center,ETLPROGRAMMATIONWCLOA6,ETL + Messenger Quotidien Lun-Dim vers Serveur...,25/08/2024 04:16
122844,6.0.2,6.0.2,Excel MyReport/Anomalies MyParc/V2/Anomalies V...,Modèle Excel,Insertion données,11,0,0,None,None,...,MyReport Server BE,OK,None,2024-08-25 04:18:00,Launcher_Name_sub_5,ETL_2bb27eb6-46ea-4208-9a6c-3074528a9285,ETL Anomalies V1-V2 MyParc Center,ETLPROGRAMMATIONWCLOA6,ETL + Messenger Quotidien Lun-Dim vers Serveur...,25/08/2024 04:16

In [14]:
df_reduced["Hour"] = df_reduced["ETL_StartDateTime"].dt.floor("h")

/var/folders/f4/k8l34hms3tj0bm4tlr3mwg080000gn/T/ipykernel_76496/1418444260.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced["Hour"] = df_reduced["ETL_StartDateTime"].dt.floor("h")

In [15]:
df_reduced.head()

,Server version,Client version,Model,Type,Insert mode,Rows added,Rows updated,Rows deleted,Rows in error,Rows in warning,...,Result,,ETL_StartDateTime,Launcher_Name,Program_Id,Program_Name,Schedules_Id,Schedules_Name,Schedules_StartDateTime,Hour
122840,6.0.2,6.0.2,Excel MyReport/Anomalies MyParc/V2/Anomalies P...,Modèle Excel,Insertion données,33,0,0,None,None,...,OK,None,2024-08-25 04:18:00,Launcher_Name_sub_5,ETL_2bb27eb6-46ea-4208-9a6c-3074528a9285,ETL Anomalies V1-V2 MyParc Center,ETLPROGRAMMATIONWCLOA6,ETL + Messenger Quotidien Lun-Dim vers Serveur...,25/08/2024 04:16,2024-08-25 04:00:00
122841,6.0.2,6.0.2,Excel MyReport/Anomalies MyParc/V1/Anomalies V...,Modèle Excel,Insertion données,9,0,0,None,None,...,OK,None,2024-08-25 04:18:00,Launcher_Name_sub_5,ETL_2bb27eb6-46ea-4208-9a6c-3074528a9285,ETL Anomalies V1-V2 MyParc Center,ETLPROGRAMMATIONWCLOA6,ETL + Messenger Quotidien Lun-Dim vers Serveur...,25/08/2024 04:16,2024-08-25 04:00:00
122842,6.0.2,6.0.2,Excel MyReport/Anomalies MyParc/V2/Anomalies M...,Modèle Excel,Insertion données,15,0,0,None,None,...,OK,None,2024-08-25 04:18:00,Launcher_Name_sub_5,ETL_2bb27eb6-46ea-4208-9a6c-3074528a9285,ETL Anomalies V1-V2 MyParc Center,ETLPROGRAMMATIONWCLOA6,ETL + Messenger Quotidien Lun-Dim vers Serveur...,25/08/2024 04:16,2024-08-25 04:00:00
122843,6.0.2,6.0.2,Excel MyReport/Anomalies MyParc/V1/Anomalies P...,Modèle Excel,Insertion données,19,0,0,None,None,...,OK,None,2024-08-25 04:18:00,Launcher_Name_sub_5,ETL_2bb27eb6-46ea-4208-9a6c-3074528a9285,ETL Anomalies V1-V2 MyParc Center,ETLPROGRAMMATIONWCLOA6,ETL + Messenger Quotidien Lun-Dim vers Serveur...,25/08/2024 04:16,2024-08-25 04:00:00
122844,6.0.2,6.0.2,Excel MyReport/Anomalies MyParc/V2/Anomalies V...,Modèle Excel,Insertion données,11,0,0,None,None,...,OK,None,2024-08-25 04:18:00,Launcher_Name_sub_5,ETL_2bb27eb6-46ea-4208-9a6c-3074528a9285,ETL Anomalies V1-V2 MyParc Center,ETLPROGRAMMATIONWCLOA6,ETL + Messenger Quotidien Lun-Dim vers Serveur...,25/08/2024 04:16,2024-08-25 04:00:00

In [19]:
print(df_reduced['Insert mode'].nunique())
df_reduced['Insert mode'].unique()

3

array(['Insertion données',
       'Suppression table / Création table / Insertion données',
       'Mise à jour données / Insertion données'], dtype=object)

In [20]:
df_grouped = df_reduced.groupby("Hour").agg(
    nb_operations=("Insert mode", "count"),  # Nombre total de lignes dans l'heure
    rows_added=("Rows added", "sum"),      # Somme des lignes ajoutées
    rows_updated=("Rows updated", "sum"),  # Somme des mises à jour
    rows_deleted=("Rows deleted", "sum")   # Somme des suppressions
).reset_index()

In [22]:
df_grouped.head(100)

                  Hour  nb_operations  rows_added  rows_updated  rows_deleted
0  2024-08-25 04:00:00             11      200563             0             0
1  2024-08-25 10:00:00             30     8333604             0             0
2  2024-08-25 12:00:00             16     6207430             0             0
3  2024-08-25 22:00:00             16      192159             0             0
4  2024-08-25 23:00:00            408   474322006             0         18598
..                 ...            ...         ...           ...           ...
95 2024-08-31 14:00:00             47    23817308             0             0
96 2024-08-31 15:00:00             11     7702853             0             0
97 2024-08-31 16:00:00             42    10951118             0             0
98 2024-08-31 17:00:00             11     7703874             0             0
99 2024-08-31 20:00:00             11     7704988             0             0

[100 rows x 5 columns]

In [23]:
df_grouped.shape

(769, 5)

In [26]:

print(df_reduced['Program_Name'].nunique())
df_reduced['Program_Name'].unique()

31

array(['ETL Anomalies V1-V2 MyParc Center', 'ETL Tachy', 'ETL Achats',
       'ETL BEXT', 'ETL Stock Article Hub Aldi', 'ETL Parc Production',
       'Toutes les semaines, le dimanche', 'ETL Histo Emballages',
       'ETL GLPI', 'ETL Histo GLPI', 'Tous les jours', 'ETL BAG',
       'ETL Marges', 'ETL Taxation', 'ETL_API_JWT', 'ETL Chargement PJ',
       'ETL sur ordre', 'ETL Center Finance', 'ETL Projection',
       'ETL JIRA', 'ETL Heures Chauffeurs', 'ETL Volumes CRF ',
       'ETL Conso Tiers', 'ETL CRF', 'ETL Stock Hub Aldi',
       'ETL Historisation Stock', 'ETL KPI ALDI',
       'ETL Affectation Salariés', 'ETL_Benchmark',
       'ETL Vue Heures Agrégées', 'ETL Compta Analytique'], dtype=object)

In [29]:
top_program = df_reduced['Program_Name'].value_counts()
top_program = top_program.head(10)
print(top_program)

Program_Name
Tous les jours           20885
ETL BEXT                 10537
ETL Chargement PJ         6005
ETL GLPI                  4536
ETL Heures Chauffeurs     2149
ETL sur ordre              806
ETL KPI ALDI               636
ETL Taxation               518
ETL BAG                    444
ETL JIRA                   385
Name: count, dtype: int64