# Analyse Exploratoire du fichier myreport2016_cpu.csv

### Imports (fichier & modules)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import math

#import os
#print(os.getcwd())
#print(os.listdir('241016_LogETL'))

In [2]:
tab = pd.read_csv('../data/logServer/myreport2016_cpu.csv',sep=',')

### Le fichier myreport2016_cpu.csv : taille, colonnes

In [3]:
print("il y a ",tab.shape[0]," lignes et ",tab.shape[1]," colonnes dans le data frame")

il y a  2162  lignes et  24  colonnes dans le data frame

In [4]:
tab.columns

Index(['Date et heure', 'Date et heure(RAW)', 'Somme', 'Somme(RAW)',
       'Processeur 1', 'Processeur 1(RAW)', 'Processeur 2',
       'Processeur 2(RAW)', 'Processeur 3', 'Processeur 3(RAW)',
       'Processeur 4', 'Processeur 4(RAW)', 'Processeur 5',
       'Processeur 5(RAW)', 'Processeur 6', 'Processeur 6(RAW)',
       'Processeur 7', 'Processeur 7(RAW)', 'Processeur 8',
       'Processeur 8(RAW)', 'Temps mort', 'Temps mort(RAW)', 'Couverture',
       'Couverture(RAW)'],
      dtype='object')

In [5]:
tab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2162 entries, 0 to 2161
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date et heure       2162 non-null   object
 1   Date et heure(RAW)  2161 non-null   float64
 2   Somme               1476 non-null   object
 3   Somme(RAW)          1475 non-null   float64
 4   Processeur 1        812 non-null    object
 5   Processeur 1(RAW)   1475 non-null   float64
 6   Processeur 2        993 non-null    object
 7   Processeur 2(RAW)   1475 non-null   float64
 8   Processeur 3        1230 non-null   object
 9   Processeur 3(RAW)   1475 non-null   float64
 10  Processeur 4        1031 non-null   object
 11  Processeur 4(RAW)   1475 non-null   float64
 12  Processeur 5        976 non-null    object
 13  Processeur 5(RAW)   1475 non-null   float64
 14  Processeur 6        1054 non-null   object
 15  Processeur 6(RAW)   1475 non-null   float64
 16  Processeur 7        1080 non-null   object
 17  Processeur 7(RAW)   1475 non-null   float64
 18  Processeur 8        912 non-null    object
 19  Processeur 8(RAW)   1475 non-null   float64
 20  Temps mort          1473 non-null   object
 21  Temps mort(RAW)     1475 non-null   float64
 22  Couverture          2162 non-null   object
 23  Couverture(RAW)     2161 non-null   float64
dtypes: float64(12), object(12)
memory usage: 405.5+ KB

In [6]:
# Calculer le nombre de valeurs uniques pour chaque colonne
nb_valeurs_uniques = tab.nunique()

# Afficher les r√©sultats
print(nb_valeurs_uniques)

Date et heure         2162
Date et heure(RAW)    2161
Somme                  404
Somme(RAW)             875
Processeur 1            30
Processeur 1(RAW)      699
Processeur 2            61
Processeur 2(RAW)      888
Processeur 3            72
Processeur 3(RAW)     1008
Processeur 4            60
Processeur 4(RAW)      907
Processeur 5            62
Processeur 5(RAW)      858
Processeur 6            63
Processeur 6(RAW)      908
Processeur 7            60
Processeur 7(RAW)      907
Processeur 8            52
Processeur 8(RAW)      804
Temps mort              13
Temps mort(RAW)         25
Couverture               5
Couverture(RAW)          4
dtype: int64

In [7]:
tab.head()

,Date et heure,Date et heure(RAW),Somme,Somme(RAW),Processeur 1,Processeur 1(RAW),Processeur 2,Processeur 2(RAW),Processeur 3,Processeur 3(RAW),...,Processeur 6,Processeur 6(RAW),Processeur 7,Processeur 7(RAW),Processeur 8,Processeur 8(RAW),Temps mort,Temps mort(RAW),Couverture,Couverture(RAW)
0,12/09/2024 00:00:00 - 01:00:00,45546.958333,18 %,17.5833,11 %,10.5833,14 %,13.5833,20 %,19.6667,...,14 %,14.2500,37 %,37.2500,15 %,14.5833,0 %,0.0,40 %,4000.0
1,12/09/2024 01:00:00 - 02:00:00,45547.000000,24 %,24.4167,6 %,5.5000,20 %,19.5833,61 %,60.5833,...,14 %,14.0833,42 %,42.3333,14 %,14.0000,0 %,0.0,40 %,4000.0
2,12/09/2024 02:00:00 - 03:00:00,45547.041667,17 %,17.0000,9 %,8.7500,15 %,15.0000,54 %,53.6667,...,7 %,6.9167,16 %,16.1667,8 %,7.8333,0 %,0.0,40 %,4000.0
3,12/09/2024 03:00:00 - 04:00:00,45547.083333,11 %,10.5833,5 %,5.0833,8 %,8.5000,23 %,22.8333,...,12 %,11.8333,8 %,8.1667,8 %,8.1667,0 %,0.0,40 %,4000.0
4,12/09/2024 04:00:00 - 05:00:00,45547.125000,"3,42 %",3.4167,2 %,2.3333,4 %,4.1667,4 %,4.4167,...,2 %,2.3333,5 %,4.9167,3 %,2.6667,0 %,0.0,40 %,4000.0

### Suppression des valeurs NaN

In [8]:
num_deleted = tab.shape[0]
tab.dropna(inplace=True)
num_deleted -= tab.shape[0]

print(f"Number of rows deleted: {num_deleted}")

Number of rows deleted: 1376

### Transformation des dates

In [9]:
from datetime import datetime, timedelta

def from_excel_ordinal(ordinal, epoch=datetime(1900, 1, 1)):
    # Adapted from above, thanks to @Martijn Pieters 

    if ordinal > 59:
        ordinal -= 1  # Excel leap year bug, 1900 is not a leap year!
    inDays = int(ordinal)
    frac = ordinal - inDays
    inSecs = int(round(frac * 86400.0))

    return epoch + timedelta(days=inDays - 1, seconds=inSecs) # epoch is day 1

excelDT = 42548.75001           # Float representation of 27/06/2016  6:00:01 PM in Excel format  
pyDT = from_excel_ordinal(excelDT)
print(pyDT)

2016-06-27 18:00:01

In [10]:
# Convertir toutes les dates de la colonne 'Date et heure(RAW)'
tab['date_full'] = tab['Date et heure(RAW)'].apply(from_excel_ordinal)

# Extraire la date et l'heure sous forme de colonnes s√©par√©es
tab['date'] = tab['date_full'].dt.strftime("%Y-%m-%d")  # Format YY-MM-DD
tab['heure'] = tab['date_full'].dt.strftime("%H")  # Format HH

In [11]:
tab.head()

,Date et heure,Date et heure(RAW),Somme,Somme(RAW),Processeur 1,Processeur 1(RAW),Processeur 2,Processeur 2(RAW),Processeur 3,Processeur 3(RAW),...,Processeur 7(RAW),Processeur 8,Processeur 8(RAW),Temps mort,Temps mort(RAW),Couverture,Couverture(RAW),date_full,date,heure
0,12/09/2024 00:00:00 - 01:00:00,45546.958333,18 %,17.5833,11 %,10.5833,14 %,13.5833,20 %,19.6667,...,37.2500,15 %,14.5833,0 %,0.0,40 %,4000.0,2024-09-11 23:00:00,2024-09-11,23
1,12/09/2024 01:00:00 - 02:00:00,45547.000000,24 %,24.4167,6 %,5.5000,20 %,19.5833,61 %,60.5833,...,42.3333,14 %,14.0000,0 %,0.0,40 %,4000.0,2024-09-12 00:00:00,2024-09-12,00
2,12/09/2024 02:00:00 - 03:00:00,45547.041667,17 %,17.0000,9 %,8.7500,15 %,15.0000,54 %,53.6667,...,16.1667,8 %,7.8333,0 %,0.0,40 %,4000.0,2024-09-12 01:00:00,2024-09-12,01
3,12/09/2024 03:00:00 - 04:00:00,45547.083333,11 %,10.5833,5 %,5.0833,8 %,8.5000,23 %,22.8333,...,8.1667,8 %,8.1667,0 %,0.0,40 %,4000.0,2024-09-12 02:00:00,2024-09-12,02
4,12/09/2024 04:00:00 - 05:00:00,45547.125000,"3,42 %",3.4167,2 %,2.3333,4 %,4.1667,4 %,4.4167,...,4.9167,3 %,2.6667,0 %,0.0,40 %,4000.0,2024-09-12 03:00:00,2024-09-12,03

### R√©agencement et Suppression des colonnes

In [12]:
# d√©placement des nouvelles colonnes de date/heure √† gauche
cols = tab.columns  # Liste des colonnes
tab = tab[cols[-3:].tolist() + cols[:-3].tolist()]

In [13]:
# renommage des colonnes
tab.rename(columns={"Couverture(RAW)": "Couverture(%)"}, inplace=True)
tab.rename(columns={"Processeur 1(RAW)": "core1(%)"}, inplace=True)
tab.rename(columns={"Processeur 2(RAW)": "core2(%)"}, inplace=True)
tab.rename(columns={"Processeur 3(RAW)": "core3(%)"}, inplace=True)
tab.rename(columns={"Processeur 4(RAW)": "core4(%)"}, inplace=True)
tab.rename(columns={"Processeur 5(RAW)": "core5(%)"}, inplace=True)
tab.rename(columns={"Processeur 6(RAW)": "core6(%)"}, inplace=True)
tab.rename(columns={"Processeur 7(RAW)": "core7(%)"}, inplace=True)
tab.rename(columns={"Processeur 8(RAW)": "core8(%)"}, inplace=True)

tab.rename(columns={"Somme(RAW)": "Somme(%)"}, inplace=True)
tab.rename(columns={"Couverture(RAW)": "Couverture(%)"}, inplace=True)
tab.rename(columns={"Temps mort(RAW)": "Temps mort(ms)"}, inplace=True)

# suppression des colonnes inutiles
tab = tab.drop(columns=["Date et heure"])
tab = tab.drop(columns=["Somme"])
tab = tab.drop(columns=["Processeur 1"])
tab = tab.drop(columns=["Processeur 2"])
tab = tab.drop(columns=["Processeur 3"])
tab = tab.drop(columns=["Processeur 4"])
tab = tab.drop(columns=["Processeur 5"])
tab = tab.drop(columns=["Processeur 6"])
tab = tab.drop(columns=["Processeur 7"])
tab = tab.drop(columns=["Processeur 8"])
tab = tab.drop(columns=["Temps mort"])
tab = tab.drop(columns=["Couverture"])

In [14]:
tab.head()

,date_full,date,heure,Date et heure(RAW),Somme(%),core1(%),core2(%),core3(%),core4(%),core5(%),core6(%),core7(%),core8(%),Temps mort(ms),Couverture(%)
0,2024-09-11 23:00:00,2024-09-11,23,45546.958333,17.5833,10.5833,13.5833,19.6667,17.1667,14.7500,14.2500,37.2500,14.5833,0.0,4000.0
1,2024-09-12 00:00:00,2024-09-12,00,45547.000000,24.4167,5.5000,19.5833,60.5833,17.6667,21.0833,14.0833,42.3333,14.0000,0.0,4000.0
2,2024-09-12 01:00:00,2024-09-12,01,45547.041667,17.0000,8.7500,15.0000,53.6667,12.9167,14.6667,6.9167,16.1667,7.8333,0.0,4000.0
3,2024-09-12 02:00:00,2024-09-12,02,45547.083333,10.5833,5.0833,8.5000,22.8333,10.4167,9.5833,11.8333,8.1667,8.1667,0.0,4000.0
4,2024-09-12 03:00:00,2024-09-12,03,45547.125000,3.4167,2.3333,4.1667,4.4167,4.4167,2.2500,2.3333,4.9167,2.6667,0.0,4000.0

In [ ]:
print(type(tab["date_full"].iloc[0])) #v√©rifier le typage de date_full

## Analyse temporelle

In [ ]:
import matplotlib.pyplot as plt
import itertools
import pandas as pd

import matplotlib.pyplot as plt

# V√©rifier que 'date_full' est bien au format datetime
tab["date_full"] = pd.to_datetime(tab["date_full"])

# Liste des colonnes √† exclure
excluded_cols = ["date_full", "date", "heure", "Date et heure(RAW)"]

# Tracer chaque colonne en fonction du temps
for col in tab.columns:
    if col not in excluded_cols:  # Exclure les colonnes non pertinentes
        plt.figure(figsize=(10, 5))

        plt.plot(tab["date_full"], tab[col], marker='o', linestyle='-')

        plt.xlabel("Date et heure")
        plt.ylabel(f"{col}")  # Correction de la syntaxe
        plt.title(f"√âvolution de {col} en fonction du temps")
        plt.legend([col])  # Correction de la l√©gende
        plt.xticks(rotation=45)
        plt.grid()

        plt.show()

In [ ]:
import seaborn as sns

# Exclure les colonnes non num√©riques
numerical_cols = tab.select_dtypes(include=['number']).columns

# Tracer un boxplot pour chaque colonne
for col in numerical_cols:
    if col not in excluded_cols:  # Exclure les colonnes non pertinentes
        plt.figure(figsize=(8, 5))
        sns.boxplot(y=tab[col])
        plt.title(f"Boxplot de {col}")
        plt.grid()
        plt.show()

In [ ]:
# S√©lection des colonnes num√©riques
numerical_cols = tab.select_dtypes(include=['number']).columns

# Filtre pour exclure les colonnes non pertinentes
cols_to_plot = [col for col in numerical_cols if col not in excluded_cols]

rows=(math.ceil(len(cols_to_plot)/3))
# Cr√©er une figure avec 2 lignes et 3 colonnes de sous-graphiques (axes)
fig, axes = plt.subplots(nrows=rows, ncols=3, figsize=(15, rows*5))

# Convertir "axes" en un tableau 1D pour plus de flexibilit√©
axes = axes.flatten()

# Boucler sur les colonnes et tracer un boxplot dans chaque sous-graphique
for i, col in enumerate(cols_to_plot):
    sns.boxplot(y=tab[col], ax=axes[i])
    axes[i].set_title(f"Boxplot de {col}")
    axes[i].grid()

# Ajuster l'espacement entre les sous-graphiques
plt.tight_layout()

# Afficher la figure
plt.show()

### Enregistrement du nouveau dataframe dans un nouveau csv

In [ ]:

#### ATTENTION au path et nom de fichier
tab.to_csv("../data/logServer/filtered/myreport_ping_filtered.csv", index=False, encoding='utf-8')

In [ ]:
### Obsolete

In [ ]:
df=tab.copy()

# Boucle pour g√©n√©rer les graphiques
for col in df.columns:
    if col != 'Date et heure(RAW)' and "RAW" in col:  # Exclure la colonne 'Date et heure(RAW)'
        plt.figure(figsize=(10, 6))
        df[col].plot(kind='line', title=f'√âvolution de : {col}')
        plt.xlabel('Date et heure')
        plt.ylabel(col)
        plt.grid(True)
        plt.tight_layout()
        plt.show()