In [29]:
import pandas as pd
from sqlalchemy import create_engine
from core.settings import settings

# Étape 1 : Extraction des données
def extract_data(file_path):
    data = pd.read_csv(file_path, sep=',')
    return data

# Étape 2 : Transformation des données
def transform_data(data):
    data.columns = (data.columns.str.strip().str.lower().str.replace(' ', '_'))
    data.columns = (data.columns.str.replace(':', ''))
    data.columns = (data.columns.str.replace('(raw)', '_raw'))

    # data = data.dropna()
    return data

name = "myreport_espace_disque"
table_name = f"{name}_raw"
file_path = f'../../data/logServer/{name}_full.csv'
db_connection_string = settings.POSTGRES_URL

data = extract_data(file_path)
transformed_data = transform_data(data)

transformed_data.columns

Index(['date_et_heure', 'date_et_heure_raw', 'somme', 'somme_raw',
       'octets_libres_c', 'octets_libres_c_raw', 'espace_disponible_c',
       'espace_disponible_c_raw', 'octets_libres_d', 'octets_libres_d_raw',
       'espace_disponible_d', 'espace_disponible_d_raw', 'temps_mort',
       'temps_mort_raw', 'couverture', 'couverture_raw'],
      dtype='object')

In [28]:
data

,date_et_heure,date_et_heure_raw,somme,somme_raw,octets_libres_c,octets_libres_c_raw,espace_disponible_c,espace_disponible_c_raw,octets_libres_d,octets_libres_d_raw,espace_disponible_d,espace_disponible_d_raw,temps_mort,temps_mort_raw,couverture,couverture_raw
0,12/01/2024 00:00:00 - 01:00:00,45303.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 %,0.0
1,12/01/2024 01:00:00 - 02:00:00,45303.041667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 %,0.0
2,12/01/2024 02:00:00 - 03:00:00,45303.083333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 %,0.0
3,12/01/2024 03:00:00 - 04:00:00,45303.125000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 %,0.0
4,12/01/2024 04:00:00 - 05:00:00,45303.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 %,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8012,10/12/2024 20:00:00 - 21:00:00,45636.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 %,0.0
8013,10/12/2024 21:00:00 - 22:00:00,45636.875000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 %,0.0
8014,10/12/2024 22:00:00 - 23:00:00,45636.916667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 %,0.0
8015,10/12/2024 23:00:00 - 00:00:00,45636.958333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 %,0.0
8016,Moyennes (de 2193 valeurs),NaN,129 Go,NaN,15 Go,NaN,25 %,NaN,114 Go,NaN,11 %,NaN,0 %,NaN,27 %,NaN

In [30]:
# Étape 3 : Chargement des données
def load_data(data, db_connection_string, table_name):
    engine = create_engine(db_connection_string)
    data.to_sql(table_name, engine, if_exists='replace', index=False)

load_data(transformed_data, db_connection_string, table_name)